/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-xxmk50sjkk] {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main[b-xxmk50sjkk] {
    flex: 1;
}

.sidebar[b-xxmk50sjkk] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-xxmk50sjkk] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-xxmk50sjkk]  a, .top-row .btn-link[b-xxmk50sjkk] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-xxmk50sjkk] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-xxmk50sjkk] {
        display: none;
    }

    .top-row.auth[b-xxmk50sjkk] {
        justify-content: space-between;
    }

    .top-row a[b-xxmk50sjkk], .top-row .btn-link[b-xxmk50sjkk] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-xxmk50sjkk] {
        flex-direction: row;
    }

    .sidebar[b-xxmk50sjkk] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-xxmk50sjkk] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .main > div[b-xxmk50sjkk] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/Maintenance.razor.rz.scp.css */
.maintenance[b-1aooooza0j] {
  display: grid;
  grid-auto-flow: row;
  grid-gap: 20px;
  justify-content: center;
}
.message[b-1aooooza0j] {
  font-size: 50px;
  font-weight: bold;
  padding: 20px 10px;
}
.description[b-1aooooza0j] {
  font-size: 18px;
}
.winch[b-1aooooza0j] {
  display: grid;
  grid-auto-flow: row;
  align-content: center;
  justify-content: center;
}
.logo-anim[b-1aooooza0j] {
  width: 300px;
  animation-name: winch-move-b-1aooooza0j;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
.text[b-1aooooza0j]{
  display: grid;
  justify-items: center;
}
/* On screens that are 600px or less, set the background color to blue */
@media screen and (max-width: 600px) {
  .top[b-1aooooza0j] {
    width: 231px;
  }
}

@keyframes winch-move-b-1aooooza0j {
  50% {transform: scaleX(-1);}
  100% {transform: scaleX(1);}
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-zlikp0xd1t] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-zlikp0xd1t] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-zlikp0xd1t] {
    font-size: 1.1rem;
}

.oi[b-zlikp0xd1t] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-zlikp0xd1t] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-zlikp0xd1t] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-zlikp0xd1t] {
        padding-bottom: 1rem;
    }

    .nav-item[b-zlikp0xd1t]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-zlikp0xd1t]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-zlikp0xd1t]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-zlikp0xd1t] {
        display: none;
    }

    .collapse[b-zlikp0xd1t] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
