@page "/"

<div id="home">
    <h2 class="review-title">Latest Game Reviews</h2>
    <div class="review-grid">
        <ReviewOverview
            ImagePath="assets/logo.png" 
            Title="Best Review"
            Author="Mark Winch"
            Date="18/10/2025"/>
        <ReviewOverview
            ImagePath="assets/logo.png" 
            Title="Best Review"
            Author="Mark Winch"
            Date="18/10/2025"/>
        <ReviewOverview
            ImagePath="assets/logo.png" 
            Title="Best Review"
            Author="Mark Winch"
            Date="18/10/2025"/>
        <ReviewOverview
            ImagePath="assets/logo.png" 
            Title="Best Review"
            Author="Mark Winch"
            Date="18/10/2025"/>
        <ReviewOverview
            ImagePath="assets/logo.png" 
            Title="Best Review"
            Author="Mark Winch"
            Date="18/10/2025"/>
        <ReviewOverview
            ImagePath="assets/logo.png" 
            Title="Best Review"
            Author="Mark Winch"
            Date="18/10/2025"/>
    </div>
</div>