@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4 mobile-bottom">
            <span>@DateTime.Now.ToString("dddd, MMMM dd, yyyy")</span>
            <div class="social-media">
                <img src="assets/linkedin.png"/>
                <img src="assets/facebook.png"/>
                <img src="assets/twitter.png"/>
            </div>
        </div>

        <div class="content px-4">
            @Body
        </div>

        <footer class="site-footer">
            <hr />
            <div class="footer-content">
                <img src="assets/mogawinch_logo.svg" alt="Site Logo" class="footer-logo" />
                <div class="footer-links">
                    <a href="/reviews/games">Reviews</a> •
                    <a href="/about">About</a> •
                    <a href="#">Contact</a> •
                    <a href="#">Terms</a> •
                    <a href="#">Privacy</a>
                </div>
            </div>
        </footer>
    </div>
</div>
