<div class="maintenance">
    <div class="winch">
        <img class="logo-anim" alt="MogaWinch logo top" src="/assets/logo.png">
    </div>
    <div class="text">
        <span class="message">@Message</span>
        <p class="description">
            This website is under construction. Please returned later.
        </p>
    </div>
</div>

@code {
    [Parameter]
    public string Message { get; set; }
}
