@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4 mobile-bottom">
            <span>@DateTime.Now.ToString("dddd, MMMM dd, yyyy")</span>
            <div class="social-media">
                <!--img src="assets/linkedin.png"/-->
                <a href="https://buymeacoffee.com/mogawinchhq">
                    <img src="assets/bmc.png"/>
                </a>
                <a href="https://bsky.app/profile/mogawinchhq.bsky.social">
                    <img src="assets/bluesky.png"/>
                </a>
                <a href="https://x.com/MogawinchHQ">
                    <img src="assets/twitter.png"/>
                </a>
            </div>
        </div>

        <div class="content px-4">
            @Body
        </div>

        <footer class="site-footer">
            <hr />
            <div class="footer-content">
                <img src="assets/mogawinch_logo.svg" alt="Site Logo" class="footer-logo" />
                <div class="footer-links">
                    <a href="/reviews/games">Games</a> •
                    <a href="/blogs">Blogs</a> •
                    <a href="/about">About</a> •
                    <a href="mailto:markwinch@mogawinch.com">Contact</a> •
                    <a href="/terms">Terms</a> •
                    <a href="/privacy">Privacy</a>
                </div>
            </div>
        </footer>
    </div>
</div>
