@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <span>@DateTime.Now.ToString("dddd, MMMM dd, yyyy")</span>
            <div class="social-media">
                <img src="assets/linkedin.png"/>
                <img src="assets/facebook.png"/>
                <img src="assets/twitter.png"/>
            </div>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
