<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">MOGAWINCH HQ</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                HOME
            </NavLink>
        </li>
        <!-- Collapsible REVIEWS section -->
        <li class="nav-item px-3">
            <button class="nav-link nav-collapse" @onclick="ToggleReviews" @onclick:stopPropagation="true">
                REVIEWS
                <span class="arrow">@((isReviewsOpen ? "▲" : "▼"))</span>
            </button>

            @if (isReviewsOpen)
            {
                <ul class="submenu list-unstyled ms-3">
                    <li>
                        <NavLink class="nav-link submenu-link" href="/reviews/games">
                            Games
                        </NavLink>
                    </li>
                    @* Add more sub-items later if needed *@
                </ul>
            }
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="blogs">
                BLOG
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="about">
                ABOUT
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private bool isReviewsOpen = false;

    private void ToggleReviews(MouseEventArgs e)
    {
        isReviewsOpen = !isReviewsOpen;
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
