name: Build and Deploy

on:
  push:
    branches:
      - master

jobs:
  generate-social-media:
    runs-on: windows-latest
    steps:
      - name: Check out the repository
        uses: actions/checkout@v4

      - name: Run .bat file
        run: .\Mogawinch.Website.App\generate-social_link.bat

      - name: Upload social media HTML as artifact
        uses: actions/upload-artifact@v4
        with:
          name: social-media-html
          path: wwwroot\content\links

  build-and-deploy:
    runs-on: windows-latest
    needs: generate-social-media
    steps:
      - name: Check out the repository
        uses: actions/checkout@v4

      - name: Download social media HTML artifact
        uses: actions/download-artifact@v4
        with:
          name: social-media-html
          path: wwwroot\content\links

      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 8.0.x

      - name: Build
        run: dotnet publish Mogawinch.Website.sln -c Release -o release

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: gh-pages
          folder: release\wwwroot
